

<a class="button-style" href="/">home</a>
  <a class="button-style" href="/masters">/masters</a>
  <a class="button-style" href="/students">/students</a>
  <a class="button-style" href="/students/add">/students/add</a>
  <a class="button-style" href="/masters/:masterId">/masters/:masterId</a>
  <a class="button-style" href="/students/:studentId/train">/students/:studentId/train</a>
  <a class="button-style" href="/students/:studentId/graduate">/students/:studentId/graduate</a>
  