<%- include('./partials/top.ejs', {title: "Create Customer Account"}) %>
  
   <%- include('./partials/menu.ejs') %>


<!-- awal login -->

<div class="d-md-flex half">
  <div class="bg" style="background-image: url('https://picsum.photos/200/300');"></div>
  <div class="contents">

    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-12">
          <div class="form-block mx-auto">
            <div class="text-center mb-5">
              <h3 class="text-uppercase">Create Account</h3>
            </div>
            <form action="#" method="post">
              <div class="form-group first">
                <label for="CustomerName">Customer name</label>
                <input name="CustomerName" type="text" class="form-control" placeholder="username" id="CustomerName">
              </div>

              <div class="form-group">
                <label for="email">E-mail</label>
                <input name="email" type="text" class="form-control" placeholder="your-email@gmail.com" id="email">
              </div>

              <div class="form-group last mb-3">
                <label for="password">Password</label>
                <input name="password" type="password" class="form-control" placeholder="Your Password" id="password">
              </div>
              
              <a type="submit" href="" class="btn btn-block py-2 btn-primary">Submit</a>
              
             
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  
</div>

<!-- akhir login -->

</body>
</html>