
  <%- include('./partials/top.ejs', {title: "home"}) %>

<!-- awal login -->
<div class="container mt-5">
<h2>Log in as :</h2>
  <a href="/seller/login" class="btn btn-block py-2 btn-primary mt-3"">Seller</a>
  <a href="/customer/login" class="btn btn-block py-2 btn-primary mt-3"">Customer</a>

</div>

<!-- akhir login -->

</body>
</html>