<%- include('./partials/top.ejs', {title: "Create Customer Account"}) %>
<%- include('./partials/menu.ejs') %>

<div class="container mt-5">

  <style>
    .card-body {
      border-bottom-left-radius: inherit !important;
      border-bottom-right-radius: inherit !important;
    }
  </style>

  <!--Section: Content-->
  <section class="dark-grey-text text-center">
    
    <!-- Section heading -->
    <h3 class="font-weight-bold mb-4 pb-2">Our Products</h3>
    <!-- Section description -->
    <p class="grey-text w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit fugit, error amet numquam iure provident voluptate esse quasi nostrum quisquam eum porro a pariatur veniam.</p>

  	<!-- Grid row -->
    <div class="row">

      <% data.forEach(el =>{ %>
      <!-- Grid column -->
      <div class="col-lg-4 col-md-12 mb-4">
        <!-- Card -->
        <div class="card card-cascade wider card-ecommerce">
          
          <!-- Card content -->
          <div class="card-body card-body-cascade text-center pb-0">
            <!-- Title -->
            <h5 class="card-title">
              <strong>
                <a href=""><%= el.productName %></a>
              </strong>
            </h5>
            
            <!-- Card footer -->
            <div class="card-footer mt-4">
              <p class="float-left font-weight-bold mb-1 pb-2"><%= el.balance %></p>
              <a class="float-right material-tooltip-main" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                <i class="fas fa-heart grey-text ml-3"></i>
              </a>
              <a class="float-right material-tooltip-main" data-toggle="tooltip" data-placement="top" title="Quick Look">
                <i class="fas fa-eye grey-text ml-3"></i>
              </a>
            </div>
          </div>
          <!-- Card content -->
        </div>
        <!-- Card -->
      </div>
      <!-- Grid column -->
      <% }) %>

     

    </div>
    <!-- Grid row -->

  </section>
  <!--Section: Content-->


</div>


</body>
</html>